$blue-color: #2196f3;

.section {
  max-width: 232px;
  max-height: 252px;

  background-color: #ffffff;
  color: #4a4a4a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  & .title {
    margin: 20px 20px 10px 20px;

    font-weight: 600;
    text-transform: uppercase;
    line-height: 12px;
    letter-spacing: 0.5;
  }

  & .filter {
    padding: 10px 0 10px 20px;

    display: flex;
    align-items: center;
    cursor: pointer;

    font-weight: 400;
    line-height: 20px;
    font-size: 13px;

    &:hover {
      background-color: #f1fcff;
    }

    & .checkmark {
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border: 2px solid #9abbce;
      border-radius: 2px;
      position: relative;
    }

    & .checkbox {
      display: none;

      &:checked + .checkmark {
        border-color: $blue-color;
      }

      &:checked + .checkmark::after {
        content: '';
        position: absolute;
        left: 3px;
        top: 4px;
        width: 10px;
        height: 6px;
        border: solid $blue-color;
        border-width: 0 0 2px 2px;
        transform: rotate(-45deg);
      }
    }
  }
}
